Source: lens
Section: utils
Priority: optional
Maintainer: clarkzjw <i@jinwei.me>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 golang,
 git
Standards-Version: 4.6.2
Homepage: https://github.com/clarkzjw/LENS
#Vcs-Browser: https://salsa.debian.org/debian/lens
#Vcs-Git: https://salsa.debian.org/debian/lens.git

Package: lens
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 iputils-ping,
 mtr,
 curl,
 traceroute,
 sshpass,
 rsync
Description: Starlink measurement scripts
 Starlink measurement scripts for the LENS dataset.
