name: build

on:
  push:
    tags:
      - 'v*'
    branches:
      - master

  pull_request:
      branches:
        - master

permissions:
  contents: write

jobs:
  # lint:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       go-version: [ '1.24.x' ]
  #   steps:
  #     - uses: actions/setup-go@v5
  #       with:
  #         go-version: ${{ matrix.go-version }}
  #     - uses: actions/checkout@v4
  #     - name: golangci-lint
  #       uses: golangci/golangci-lint-action@v6
  #       with:
  #         version: latest
  #         args: --timeout=5m

  build:
    runs-on: ubuntu-latest
    # needs: lint
    strategy:
      matrix:
        go-version: [ '1.24.x' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Package
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --snapshot --clean
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_TOKEN }}

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
            name: lens
            path: |
                ./dist/lens_*_linux_*.deb
